@import '../../assets/styles/colors';
@import '../../assets/styles/breakpoints';
@import '../../assets/styles/mixins';


.projects {
  @media (min-width: $min-md) {
    padding: 2.5rem 0;
  }

  & h1 {
    @include hidden();
  }

  & a {
    & .h3,
    & .h6 {
      font-style: normal;
    }
  }

  & .h6 {
    color: $pink;
  }

  & .project-card {
    margin-bottom: 1.5rem;
  }

  & .preview-img-box {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: calc(5 / 12 * 100%);
    height: 100%;
    max-width: 560px;
    max-height: 360px;

    &.mass-hike {
      background-color: #f2f2f2;
    }

    &.contuity {
      background-color: #2c3353;
    }

    &.online-resources {
      background-color: $green;
    }

    &.dpt {
      background-color: #212d3b;

      & > img.preview-img {
        width: 85%;
        bottom: 0;
        top: unset;
        transform: translateX(-50%);
        max-height: unset;
      }
    }

    &.bevspot {
      background-color: #f87d59;

      & > img.preview-img {
        width: 70%;
      }
    }

    &.film {
      background-color: $blue;

      & > img.preview-img {
        width: 120%;
      }
    }
  }

  & .preview-img {
    position: absolute;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 300px;
  }
}
