@import '../../assets/styles/colors';
@import '../../assets/styles/breakpoints';
@import '../../assets/styles/mixins';

main.all-projects {
  display: contents;
}

.writing {
  @media (min-width: $min-md) {
    padding: 5.75rem 0;
  }

  & h1 {
    @include hidden();
  }

  & a .h3 {
    margin-block-start: 1rem;
    text-decoration: underline;
  }

  & .h6 {
    color: $black;
    width: 100%;
  }

  & .project-card {
    margin-bottom: 2rem;
  }

  svg {
    margin-left: 1rem;
    font-size: 2rem;
  }
}
