@import '../../assets/styles/colors';
@import '../../assets/styles/breakpoints';

footer {
  background-color: $blue;
  display: flex;
  align-items: center;
  margin-top: 3rem;

  p {
    margin-top: 1rem;
  }
  
  p,
  a {
    @media (min-width: $min-md) {
      margin-top: 0.5rem;
    }
  }

  a span {
    border-bottom: 1px solid transparent;
    transition: 0.2s;
  }

  a:hover span,
  a:focus span {
    border-bottom: 1px solid $black;
  }

  .with-icon {
    display: flex;

    & svg {
      padding-right: 0.25rem;
      fill: $black;
    }
  }

  .social {
    justify-content: flex-start;
    margin-bottom: 1rem;

    @media (min-width: $min-md) {
      justify-content: flex-end;
      margin-bottom: 0;
    }
  }
}
