@import '../../assets/styles/colors';
@import '../../assets/styles/breakpoints';

footer {
  background-color: $blue;
  display: flex;
  align-items: center;
  
  a span {
    border-bottom: 1px solid transparent;
    transition: 0.2s;
  }

  p {
    margin: 0;
    margin-block: 0;
  }

  a:hover span,
  a:focus span {
    border-bottom: 1px solid $white;
  }

  .with-icon {
    display: flex;

    & svg {
      padding-right: 0.25rem;
      fill: $white;
    }
  }

  .social {
    justify-content: flex-start;

    @media (min-width: $min-md) {
      justify-content: flex-end;
    }
  }
}
