@import '../../assets/styles/colors';
@import '../../assets/styles/mixins';

header {
  height: 2rem;
  padding: 1.5rem 1rem;

  .name-home  {
    width: fit-content;
  }

  & a,
  & a span,
  & span {
    font-size: 1.5rem;
  }

  span {
    padding: 0 0.5rem;
  }

  a {
    font-family: 'Space Mono', monospace;

    &.name span {
      color: $black;
    }

    &:not(.name) {
      color: $blue;
      font-style: italic;
      padding: 0 .5rem;
    }

    &.active {
      color: $white;
      background-color: $blue;
      text-decoration: none;
    }
  }
}

.menu {
  top: -100vh;
  width: 100vw;
  height: 100vh;
  background-color: $black80;
  display: none;
  position: absolute;
  transition: 0.2s ease-in-out;
  left: 0;

  & > .MuiGrid-root.MuiGrid-item {
    padding-bottom: 2rem;
  }

  & a {
    font-size: 1.75rem;
    @include underline($green);
  }
}

.open {
  top: 4.5rem;
  display: unset;
  transition: 0.2s ease-in-out;
}
