@import "../../assets/styles/colors";

header {
    height: 2rem;
    padding: 1.5rem;

    & a,
    & a span {
        font-size: 1.5rem;
    }

    a {
        font-family: "Space Mono", monospace;
        text-decoration: none;

        &.name span {
            color: $blue;
        }

        &:not(.name) {
            color: $green;
            font-style: italic;

            &::after {
                content: "";
                display: block;
                width: 0;
                height: 2px;
                background: $green;
                transition: width 0.2s;
            }
        }

        &:not(.name):hover::after,
        &:not(.name):focus::after {
            width: 100%;
        }

        &.active {
            border-bottom: solid 2px $green;
        }
    }
}

.menu {
    top: -100vh;
    width: 100vw;
    height: 100vh;
    background-color: $black60;
    display: none;
    position: absolute;
    transition: 0.2s ease-in-out;
    left: 0;
}

.open {
    top: 4.5rem;
    display: unset;
    transition: 0.2s ease-in-out;
}
