@import '../../assets/styles/colors';
@import '../../assets/styles/breakpoints';

.wave-container {
  @media (max-width: $max-xs) {
    display: none;
  }

  svg {
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 2rem;

    path {
      stroke: $green;
    }
  }

  #wave {
    animation: moveTheWaveAndDash 5000ms linear infinite;
  }

  @keyframes moveTheWaveAndDash {
    0% {
      stroke-dashoffset: 0;
      transform: translate3d(-250px, 0, 0);
    }
    100% {
      stroke-dashoffset: -133;
      transform: translate3d(-370px, 0, 0);
    }
  }
}
