@import '../../assets/styles/breakpoints';
@import '../../assets/styles/mixins';
@import '../../assets/styles/colors';


.home {
  z-index: 2;

  @media (min-width: $min-md) {
    padding-top: 2.5rem;
  }

  & .home-content {
    display: block;
    z-index: 99999999;
  }

  header {
    @media (min-width: $min-md) {
      display: none;
    }
  }

  .h1, .h2, a {
    @media (min-width: $min-md) and (max-width: $max-md) { 
      font-size: 2.5rem;
    }
  }  
}

.home {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  // transition: 500ms;

  @media (max-width: $max-sm) {
    height: unset;
  }
}
