@import '../../assets/styles/breakpoints';
@import '../../assets/styles/mixins';
@import '../../assets/styles/colors';

.games.page {
  overflow: hidden;
  height: 100%;

  @media (min-width: $min-md) {
    height: 100vh;
  }

  header {
    width: 100%;
  }
}

.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.background, .game {
  @media (max-width: $max-sm) {
    display: none;
  }
}

#first-circle,
.sprinkle {
  width: 100px;
  height: 100px;
  opacity: .3;
  background-image: url('../../assets/imgs/home/sprinkle.svg');
  position: absolute;

  &.hide {
    display: none;
  }
}

.home {
  z-index: 2;

  @media (min-width: $min-md) {
    padding-top: 2.5rem;
  }

  & .links .MuiGrid-item {
    padding-right: 2.5rem;
  }

  & a {
    font-size: 3rem;
    @include underline($green);
  }

  & .home-content {
    display: block;
    z-index: 99999999;
  }

  header {
    @media (min-width: $min-md) {
      display: none;
    }
  }

  h1, h2, a {
    @media (min-width: $min-md) and (max-width: $max-md) { 
      font-size: 2.5rem;
    }
  }  

  &.hide {
    top: -100vh;
    animation: hide 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 5s;
  }
}

.home,
.game {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  transition: 500ms;

  @media (max-width: $max-sm) {
    height: unset;
  }
}

.game {
  z-index: 0;

  &.hide {
    top: 100vh;
  }

  p {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
}

.play {
  visibility: hidden;
  z-index: 2;

  @media (min-width: $min-md) {
    visibility: visible;
    position: fixed;
    bottom: 2rem;

    & button {
      background-color: $green;
      border-radius: 3rem 0 0 3rem;
      right: -15rem;
      transition: 200ms;
      padding: 0.75rem;

      & span,
      svg {
        font-size: 2rem;
        text-transform: none;
        color: $black;
        font-family: 'Space Mono', monospace;
        font-style: italic;
      }

      & svg {
        padding-right: 1rem;
        font-size: 3rem;
      }
    }

    & .MuiButton-root:hover,
    & .MuiButton-root:focus {
      background-color: $green;
    }

    &.stay-open button,
    & button:hover,
    & button:focus {
      right: 0rem;
    }
  }
}

@-webkit-keyframes hide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes hide {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
