@import '../../assets/styles/colors';
@import '../../assets/styles/breakpoints';

@mixin underline($color) {
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $color;
    transition: width 0.2s;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

@mixin hidden() {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
