@import '../../assets/styles/colors';

@mixin underline($color) {
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $color;
    transition: width 0.2s;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}
