$biggest-type: 3.5rem;
$bigger-type: 3rem;
$middle-type: 2.5rem;
$small-middle-type: 2rem;
$small-type: 1.5rem;
$body-type: 1.25rem;
$small-body-type: 1rem;

h1,
h2,
h3,
p {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  margin-top: 0;
}

h1 {
  font-size: $middle-type;
  color: $pink;

  @media (min-width: $min-md) {
    font-size: $biggest-type;
  }
}

h2 {
  font-size: $small-type;
  color: $pink;

  @media (min-width: $min-sm) {
    font-size: $middle-type;
  }

  @media (min-width: $min-md) {
    font-size: $biggest-type;
  }
}

h3 {
  font-size: $small-type;
  color: $green;
  text-decoration: none;
  text-decoration: underline;
  margin-bottom: 1rem;
  width: fit-content;

  @media (min-width: $min-md) {
    font-size: $bigger-type;
    border-bottom: 2px solid $green;
    text-decoration: none;
  }
}

h4 {
  font-family: 'Space Mono', monospace;
  color: $blue;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: $small-type;

  @media (min-width: $min-md) {
    font-size: $small-middle-type;
  }
}

h5 {
  font-family: 'Space Mono', monospace;
  color: $pink;
  margin: 0;
  font-weight: 700;
  font-size: $body-type;

  @media (min-width: $min-md) {
    font-size: $small-type;
  }
}

h6 {
  font-family: 'Space Mono', monospace;
  color: $blue;
  margin: 0;
  font-weight: 400;
  font-size: $body-type;

  @media (min-width: $min-md) {
    font-size: $small-type;
  }
}

blockquote {
  font-family: 'Space Mono', monospace;
  color: #ffa294;
  font-style: italic;
  margin: 0;
  padding: 1rem 0;
  font-size: $small-type;

  @media (min-width: $min-md) {
    font-size: $small-middle-type;
  }
}

span,
p,
li {
  color: $white;
  line-height: 1.4;
  font-size: $small-body-type;

  @media (min-width: $min-md) {
    font-size: $body-type;
  }
}

a {
  font-family: 'Space Mono', monospace;
  text-decoration: none;

  &:not(.name) {
    color: $green;
    font-style: italic;
  }
}

p.caption {
  font-size: $small-body-type;
}

button.MuiButton-containedPrimary {
  background-color: $green;
  font-size: $body-type;
  text-transform: none;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 0;
  margin-top: 1rem;
  transition: 0.2s;

  & span.MuiButton-label {
    color: $black;
  }

  &:hover,
  &:focus {
    background-color: $green-hover;
  }
}

footer {
  & span,
  & p,
  & a:not(.name) {
    font-family: 'Space Mono', monospace;
    color: $black;
    font-size: $small-body-type;
  }
}
